.pageTitle {
    margin-left: 20px;
    margin-top: 10px;
}

/* *************** */
/* Cari Sahabat Page */
/* *************** */
.searchSection {
    width: 100%;
    border-radius: 10px;
}

.searchBar {
    padding: 15px 0 5px;
    width:100%;
}

.buttonContainer {
    display: flex;
    align-items: center; 
    gap: 10px;
    justify-content: flex-end;
    margin-right: 20px;
    margin-bottom:-10px;
}

.col-md-2 {
    padding-left: 0%;
    padding-right: 0%;
}

.searchBarBtn {
    width: 100%;
    font-size: 1.15em;
    font-weight: 700;
    margin-bottom: 10px;
  }


/* *************************** */
/* Hasil carian Sahabat Page */
/* ************************ */
  .hasilCarianContent {
    margin: 0 15px;
    padding: 15px;
    background-color: var(--white);
  }

  .searchResultId {
    margin-left: 20px;
  }

  .searchResultId p {
    font-weight: bold;
  }

  .hasilCarianSahabatTitle {
    margin: 10px 10px;
  }

  .hasilCarianContentDiv {
    margin: 30px auto;
  }

  .carianSpacing, .sahabatInfoSpacing {
    margin-top: 10px;
  }


  /* Card section */
  .cardSection {
    position: relative;
  }

  .cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .cardBody {
    display: flex;
    align-items: center;
  }

  .cardSkim {
    margin-left: 10px;
    font-weight: 500;
  }

  .cardActions {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .arrowPositioning {
    cursor: pointer;
    position: absolute;
    left: -2%;
    top: 100%;
    transform: translateY(-120%);
  }

  .arrowPositioning svg {
    box-shadow: 1px 2px #cfcece;
    border-radius: 100%;
    background-color: #13315C;
    fill: white;
  }

  .editLoanBtn {
    font-size: 14px;
  }

  .statusLink {
    color: #000;
  }

  /* Minggu section */
  .editBtn {
    font-size: 0.75em;
    font-weight: 700;
    border-color: #FFAE42;
    background-color: #FFAE42;
    margin-bottom: 10px;
  }

  .delBtn {
    font-size: 0.75em;
    font-weight: 700;
    border-color: #FF0000;
    background-color: #FF0000;
    margin-bottom: 10px;
  }

  /* Warning row in Minggu section */
  .warningRow td {
    color: #FF0000;
  }

  /* ******************************** */
  /* Kemaskini Tracking Sahabat Page */
  /* ****************************** */
  .sahabatTrackingContent {
    margin: 0 15px;
    padding: 15px;
  }

  .sahabatInfoCard {
    padding-bottom: 20px;
  }

  .editMingguBtnPlacement {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 5px;
    font-size: 14px;
  }

  .trackWeek {
    font-weight: 500;
  }


  /* *************** */
  /* Responsiveness */
  /* *************** */
  /* To fix the position of the arrow on the card */
  @media (max-width: 768px) {
    .arrowPositioning {
      left: -5%;
    }
  }