.container {
  /* Ensure the navbar brand item is aligned to the left  */
  margin-left: 0;
}

.navbar-primary{
  background-color: white;
}

.navbar-secondary{
  background-color: #13315C;
  font-weight: 500;
}