.container {
  /* Ensure the navbar brand item is aligned to the left  */
  margin-left: 0;
  max-width: 2560px;
}

.navbar-primary{
  background-color: white;
}

.navbar-secondary{
  background-color: #13315C;
  font-weight: 500;
}

.titleAim {
  margin-top: 7px;
  font-weight: 900;
  font-size: 26px;
  color: var(--black);
}

.log-keluar-btn {
  background-color: white;
  border: none;
  font-size: 14px;
  font-weight: bold;
}

.icon-container {
  border: 1px solid transparent;
  padding: 3px 0 4px 4px;
  margin-right: 4px;
  border-radius: 50%;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.55);
  transition: background-color 0.3s, box-shadow 0.3s;
  background-color: #fff;
}

/* *********************** */
/* MOBILE VIEW */
/* *********************** */
@media (max-width: 767px) {
  /* Ensure text "Log Keluar" is not displayed on mobile screen */
  .mobile-visibility {
    display: none;
  }
}
