.pageTitle {
  margin-left: 20px;
  margin-top: 10px;
}

.tableSection {
  margin: auto 20px;
  font-size: 14px;
}

.tableSection th {
  font-size: 1em;
  font-weight: 700;
}

.tableBil {
  width: 5%;
  text-align: center;
}

.tableTindakan {
  width: 15%;
  text-align: center;
}