@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  margin: 0;
  text-decoration: none;
}

/* *********************** */
/********* VARIABLES *******/
/* *********************** */

:root {
  --primary-color: #235239;
  --secondary-color: #4e5854;
  --tertiary-color: #102018;
  --quaternary-color: #75A589;
  --primary-details-color: #cbffe1;
  --grayscale-offwhite: #F5F5F5;
  --grayscale-white: #FFFFFF;
  --grayscale-black: #000000;
  --grayscale-secondary-black: #2c2c2c;

  --delete-btn: #9b3e36;
  --delete-btn-hover: #C95B39;
  --edit-btn: #5a7b8c;
  --edit-btn-hover: #6A8EA0;
}

a {
  text-decoration: none;
}

.dropdown-item:active {
  background-color: var(--quaternary-color);
}

/* ********************** */
/* ****** BUTTONS ****** */
/* ******************** */

.btn {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.btn:hover {
  background-color: var(--quaternary-color); 
  border-color:  var(--quaternary-color);
}

.btn:focus {
  background-color: var(--grayscale-offwhite) !important; 
  border-color:  var(--grayscale-secondary-black) !important;
  color: var(--grayscale-black) !important;
}

.return-btn-container, .create-btn-container {
  display: flex;
  justify-content: flex-end;
  margin: 10px 20px;
}

.return-btn {
  border-color: var(--grayscale-secondary-black);
  background-color:var(--grayscale-offwhite);
  color: var(--grayscale-black);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
}

.return-btn:hover {
  background-color: var(--grayscale-secondary-black);
}

.cancel-btn {
  background-color: var(--grayscale-secondary-black);
  border-color: var(--grayscale-secondary-black);
  color: var(--grayscale-offwhite);
}

.cancel-btn:hover {
  background-color: var(--grayscale-black);
  border-color: var(--grayscale-black);
  color: var(--grayscale-offwhite);
}

.cancel-btn:focus {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.download-btn-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 30px;
}

.edit-btn {
  font-size: 0.75em;
  font-weight: 700;
  background-color: var(--edit-btn);
  border-color: var(--edit-btn);
  margin-bottom: 10px;
}

.edit-btn:hover {
  background-color: var(--edit-btn-hover);
}

.delete-btn {
  font-size: 0.75em;
  font-weight: 700;
  background-color: var(--delete-btn);
  border-color: var(--delete-btn);
  margin-bottom: 10px;
}

.delete-btn:hover {
  background-color: var(--delete-btn-hover);
  border-color: var(--delete-btn-hover);
}

.show-btn {
  font-size: 0.75em;
  font-weight: 700;
  margin-bottom: 10px;
}

/* ************************** */
/* ****** PAGE HEADER ****** */
/* *********************** */

.page-title {
  margin-top: 30px;
}

/* ********************************* */
/************ BREADCRUMBS ************/
/* ******************************* */

.breadcrumb-previous-link a {
  color: var(--primary-color);
  text-decoration: underline;
}

.active {
  font-weight: 700;
}

/* ******************** */
/* ****** MODAL ****** */
/* ****************** */

/* DeletionAlert.js */

.btn-success {
  margin: 0 5px;
}

.btn-modal-danger {
  background-color: var(--delete-btn);
  border-color: var(--delete-btn);
}

/* ******************** */
/* ****** PRINT ****** */
/* ****************** */
@media print {
  body {
    margin: 0;
    padding: 0;
  }

  .printable {
    margin: 0.5in; /* Adjust this value as needed */
    padding: 0;
    width: auto; /* Ensure the width is appropriate for printing */
    height: auto;
  }

  .page-title,
  .breadcrumb-previous-link,
  .report-profil-sahabat-details {
    margin-bottom: 1rem;
  }

  .page-title h1 {
    font-size: 24pt; /* Adjust font size for print */
  }

  .report-profil-sahabat-action-bts-container,
  .return-btn-container {
    display: none; /* Hide buttons during print */
  }

  /* Force page breaks after certain elements */
  .printable > * {
    page-break-inside: avoid;
    break-inside: avoid;
    margin-top: 0; /* Reset margin-top to prevent cut off */
    padding-top: 0.5in; /* Ensure some space at the top after page break */
  }
}