@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

* {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  margin: 0;
  text-decoration: none;
}

/* *********************** */
/* VARIABLES */
/* *********************** */

#root {
  --white: #FFFFFF;
  --black: #000000;
  --darkcyanblue: #13315C;
  --lightgray: #D9D9D9;
  --activegreen: #008000;
  --noticeyellow: #ffae42;
  --activegreen: #008000;
}

a {
  text-decoration: none;
}

.btn:focus {
  background-color: #fff;
  border-color: #000;
  color: #000;
}


