@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

* {
  color: var(--black);
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  line-height: 1.5;
  font-weight: 400;
  margin: 0;
  text-decoration: none;
}

/* *********************** */
/* VARIABLES */
/* *********************** */

#root {
  --white: #FFFFFF;
  --black: #000000;
  --darkcyanblue: #13315C;
  --lightgray: #D9D9D9;
}

/* *********************** */
/* BODY */
/* *********************** */


