/* **************************** */
/* **** PAGE CARIAN SAHABAT ****/
/* ************************** */
.sahabat-search-container {
    width: 100%;
    border-radius: 10px;
}

.sahabat-search-bar {
  margin: 20px auto;
  width: 100%;
  background-color: #fff;
  border: 1px solid #dedede;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15);
  padding: 15px 20px 10px 10px;
  width:100%;
}

.carian-sahabat-input-field {
  padding-top: 8px;
  padding-bottom: 8px;
}

.sahabat-search-button {
  padding-left: 0%;
  padding-right: 0%;
}

.carian-sahabat-search-btn {
  width: 100%;
}

@media(max-width: 767px) {
  .carian-sahabat-search-btn {
    margin: 10px auto 10px 12px;
    width: 95%;
  }
}


/* ********************************* */
/*** PAGE HASIL CARIAN SAHABAT ******/
/* ******************************* */
.hasil-carian-sahabat-content {
  margin: 0 15px;
  padding: 15px;
  background-color: var(--white);
}

.hasil-carian-sahabat-title {
  margin: 10px 10px;
}

.search-result-id {
  margin-left: 20px;
}

.search-result-id p {
  font-weight: bold;
}

.page-content-div {
  margin: 30px auto;
}

.sahabat-carian-spacing {
  margin-top: 10px;
}

.sahabat-pembiayaan-table-container {
  margin: auto 20px;
  font-size: 14px;
}

.sahabat-pembiayaan-table-container th {
  font-size: 1em;
  font-weight: 700;
}

.sahabat-track-minggu-entry {
  text-decoration: underline;
  font-weight: bold;
}

.sahabat-pembiayaan-tab-container {
  background-color: var(--white);
}

.sc-tracking-minggu-warning td {
  color: #FF0000;
}

/* ************************************ */
/*** PAGE HASIL CARIAN SAHABAT *********/
/*** MAKLUMAT PEMBIAYAAN SAHABAT ******/
/*********** CARD SECTION ************/
/* ******************************** */

.card-pembiayaan-sahabat-container {
  position: relative;
  margin-bottom: 30px;
}

.card-pembiayaan-sahabat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-pembiayaan-sahabat-content {
  display: flex;
  align-items: center;
}

.card-skim-pembiayaan-header {
  margin-left: 10px;
  font-weight: 500;
}

.card-badge-status {
  margin-left: 5px;
}

.card-skim-pembiayaan-arrow-position {
  cursor: pointer;
  position: absolute;
  left: -2%;
  top: 100%;
  transform: translateY(-120%);
}

.card-skim-pembiayaan-arrow-position svg {
  box-shadow: 1px 2px #cfcece;
  border-radius: 100%;
  background-color: #13315C;
  fill: var(--white);
}

.sc-skim-pembiayaan-completed-indicator .sc-completion-indicator {
  color: var(--darkgray);
  font-weight: bold;
  opacity: 0.6;
}

@media (max-width: 768px) {
  .card-skim-pembiayaan-arrow-position {
    left: -5%;
  }
}

@media (min-width:1281px) {
  .card-skim-pembiayaan-arrow-position {
    left: -1.3%;
  }
}

/* ************************************ */
/*** PAGE HASIL CARIAN SAHABAT *********/
/*** MAKLUMAT PEMBIAYAAN SAHABAT ******/
/*********** CARD SECTION ************/
/* ******************************** */

.card-tambah-minggu-sahabat-content {
  margin: 0 15px;
  padding: 15px;
}

.card-tambah-minggu-sahabat-more-content  {
  padding-bottom: 20px;
}

.card-edit-minggu-btn {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 5px;
  font-size: 14px;
}

.card-track-minggu-simple {
  font-weight: 500;
}

/* ************************************ */
/*** PAGE HASIL CARIAN SAHABAT *********/
/*** MAKLUMAT PEMBIAYAAN SAHABAT ******/
/*********** TABS SECTION ************/
/* ******************************** */

.tabs-isi-rumah-actions-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 5px auto;
  font-size: 14px;
}

.sc-tabs-table-inflow-outflow-margins {
  margin-top: 15px;
}

/* ************************************ */
/*** PAGE HASIL CARIAN SAHABAT *********/
/********* THE DREADED STEPPER *********/
/* ************************************ */
.MuiButton {
  background-color: #13315C;
}

.css-0 {
  /* This represents the Box */
  margin: 10px;
}


