/* **************************** */
/* **** CUSTOMER SEARCH PAGE ****/
/* ************************** */
.customer-search-container {
    border-radius: 10px;
    background-color: var(--grayscale-white);
    border: 1px solid #dedede;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15);
    width: 96%;
}

.customer-search-bar {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 10px;
}

.customer-search-button {
  padding-left: 0%;
  padding-right: 0%;
}

.customer-search-btn {
  width: 99%;
}

@media(max-width: 767px) {
  .customer-search-bar {
    padding-right: 0;
  }

  .customer-search-btn {
    margin: 10px 10px 10px 12px;
    width:94.5%;
  }
}


/* ********************************* */
/*** CUSTOMER SEARCH RESULT ******/
/* ******************************* */
.customer-search-result-content {
  margin: 0 15px;
  padding: 15px;
  background-color: var(--grayscale-var(--grayscale-white));
}

.customer-search-result-title {
  margin: 10px 10px;
}

.search-result-id {
  margin-left: 20px;
}

.search-result-id p {
  font-weight: bold;
}

.page-content-div {
  margin: 30px auto;
}

.customer-search-spacing {
  margin-top: 10px;
}

.customer-payment-table-container {
  margin: auto 20px;
  font-size: 14px;
}

.customer-payment-table-container th {
  font-size: 1em;
  font-weight: 700;
}

.customer-track-week-entry {
  text-decoration: underline;
  font-weight: bold;
}

.customer-payment-tab-container {
  background-color: var(--grayscale-var(--grayscale-white));
}

.sc-tracking-week-warning td {
  color: #FF0000;
}

/* ************************************ */
/*** PAGE HASIL CARIAN SAHABAT *********/
/*** MAKLUMAT PEMBIAYAAN SAHABAT ******/
/*********** CARD SECTION ************/
/* ******************************** */

.card-funding-customer-container {
  position: relative;
  margin-bottom: 30px;
}

.card-funding-customer-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-funding-customer-content {
  display: flex;
  align-items: center;
}

.card-type-payment-header {
  margin-left: 10px;
  font-weight: 500;
}

.card-badge-status {
  margin-left: 5px;
}

.card-type-payment-arrow-position {
  cursor: pointer;
  position: absolute;
  left: -2%;
  top: 100%;
  transform: translateY(-120%);
}

.card-type-payment-arrow-position svg {
  box-shadow: 1px 2px #cfcece;
  border-radius: 100%;
  background-color: var(--primary-color);
  fill: var(--grayscale-var(--grayscale-white));
}

.sc-type-payment-completed-indicator .sc-completion-indicator {
  color: var(--darkgray);
  font-weight: bold;
  opacity: 0.6;
}

@media (max-width: 768px) {
  .card-type-payment-arrow-position {
    left: -5%;
  }
}

@media (min-width:1281px) {
  .card-type-payment-arrow-position {
    left: -1.3%;
  }
}

/* ************************************ */
/*** PAGE HASIL CARIAN SAHABAT *********/
/*** MAKLUMAT PEMBIAYAAN SAHABAT ******/
/*********** CARD SECTION ************/
/* ******************************** */

.card-add-week-customer-content {
  margin: 0 15px;
  padding: 15px;
}

.card-add-week-customer-more-content  {
  padding-bottom: 20px;
}

.card-edit-week-btn {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 5px;
  font-size: 14px;
}

.card-track-week-simple {
  font-weight: 500;
}

/* ************************************ */
/*** PAGE HASIL CARIAN SAHABAT *********/
/*** MAKLUMAT PEMBIAYAAN SAHABAT ******/
/*********** TABS SECTION ************/
/* ******************************** */

.tabs-isi-rumah-actions-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 5px auto;
  font-size: 14px;
}

.sc-tabs-table-inflow-outflow-margins {
  margin-top: 15px;
}

/* ************************************ */
/*** PAGE HASIL CARIAN SAHABAT *********/
/********* THE DREADED STEPPER *********/
/* ************************************ */
.MuiButton {
  background-color: var(--primary-color);
}

.css-0 {
  /* This represents the Box */
  margin: 10px;
}
/* Server issue */
.css-vgb7rt {
  border-width: 0;
}
