.pageTitle {
    margin-left: 20px;
    margin-top: 10px;
}

/* Index Selenggara */

.selenggara-table-container {
    margin: auto 20px;
    font-size: 14px;
}

.selenggara-table-container th {
    font-size: 1em;
    font-weight: 700;
}

.selenggara-table-index {
    width: 5%;
    text-align: center;
}

.selenggara-table-action-btn-container {
    width: 15%;
    text-align: center;
}

.selenggara-table-action-btn {
    width: 100%;
}

/* Selenggara pages */

.kembaliBtnPlacement, .tambahBtnPlacement {
    display: flex;
    justify-content: flex-end;
}

.tambahBtnPlacement {
    margin-bottom: 5px;
}

.kembaliBtn {
    border-color: var(--grayscale-var(--grayscale-white));
    background-color: var(--grayscale-var(--grayscale-white));
    color: var(--grayscale-black);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
}

/* Breadcrumb */
.previousLink a {
    color: var(--primary-color);
    text-decoration: underline;
}

.active {
    font-weight: 700;
}

  /* Kod inflow, kod outflow, dimensi, and hubungan section */
  /* Tables CSS */
  .editBtn {
    font-size: 0.75em;
    font-weight: 700;
    border-color: #FFAE42;
    background-color: #FFAE42;
    margin-bottom: 10px;
  }

  .delBtn {
    font-size: 0.75em;
    font-weight: 700;
    border-color: #FF0000;
    background-color: #FF0000;
    margin-bottom: 10px;
  }
