.create-btn {
    width: 100%;
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.create-btn:hover {
    background-color: var(--secondary-color);
}

.searchbar-container {
    border-radius: 10px;
    background-color: var(--grayscale-offwhite);
    border: 1px solid #dedede;
    margin-right: 7rem;
}

.searchbar {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
}

.searchbar-btn-container {
    margin-top: 0 !important;
}

.searchbar-btn {
    width: 100%;
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.searchbar-btn:hover {
    background-color: var(--secondary-color);
}

.table-container {
    margin-top: 3rem;
}

@media(max-width: 767px) {
    .create-btn {
        margin-bottom: 1rem;
    }

  .searchbar-btn-container {
    margin-top: 1rem;
  }

  .searchbar-btn {
    margin-top: 0.75rem;
  }
}