/* ******************************** */
/* ****** PENGGUNA INDEX PAGE ****** */
/* ******************************** */

.user-table-container {
  margin: auto 20px;
  font-size: 14px;
}

.user-table-index {
  width: 5%;
  text-align: center;
}

.user-table-cta {
  width: 15%;
  text-align: center;
}

.user-index-pg-btn {
  width: 100%;
}

/* *********************************/
/* ****** PENGGUNA PAGE ********* */
/* ****** SEARCH COMPONENT ****** */
/* ****************************** */

.user-search-pg-header {
  margin-left: 20px;
}

.user-search-pg-header h2 {
  font-weight: 600;
  font: 16px;
}

.user-search-bar-container {
  border-radius: 10px;
  padding-left: 0;
}

.user-search-bar {
  margin: 20px 0;
  background-color: var(--grayscale-white);
  border: 1px solid #dedede;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15);
  padding: 15px 20px 10px 10px;
}

.user-search-btn {
  width: 100%;
}

.user-search-input-field {
  padding-top: 8px;
  padding-bottom: 8px;
}

.user-search-result-container {
  background-color: var(--white);
  padding: 10px;
  margin-left: 20px;
  margin-right: 10px;
}

@media(max-width: 767px) {
  .user-search-btn {
    margin: 10px auto 10px 12px;
    width: 95%;
  }
}