/********************/
/*** PAGE LAYOUT ***/
/*******************/
.main {
  display: flex;
  flex-direction: row;
  grid-template-columns: auto 1fr;
}
  
.content {
  background-color: #F1F3F4;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

  
/***************/
/*** NAVBAR ***/
/***************/

.navbar-primary{
  background-color: white;
}

.logout-icon {
  margin-right: 5px;
  margin-bottom: 3px;
}
  
.page-title-strip-container {
  background-color: #13315C;
  font-weight: 500;
  padding: 12px 0 12px 0;
}

.page-title-strip {
  font-size: 1.25rem;
  font-weight: bold;
  margin-left: 12px;
  color: var(--white);
}
  
.navbar-title {
  margin-top: 7px;
  font-weight: 900;
  font-size: 26px;
  text-transform: uppercase;
}

.org-logo {
  cursor: pointer;
}
  
.logout-btn {
  background-color: white;
  border: none;
  font-size: 14px;
  font-weight: bold;
}
  
.logout-icon-container {
  border: 1px solid transparent;
  padding: 3px 0 4px 4px;
  margin-right: 4px;
  border-radius: 50%;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.55);
  transition: background-color 0.3s, box-shadow 0.3s;
  background-color: #fff;
}

@media (max-width: 768px) {
  .logout-text-visibility {
    display: none;
  }
}

  
/***************/
/*** SIDEBAR ***/
/***************/

.sidebar {
  width: 250px;
  padding-top: 30px;
  position: relative;
  transition: width 0.3s ease;
}

.sidebar a {
  color: var(--black);
}
  
.sidebar a:hover {
  text-decoration: underline;
}
  
.sidebar-icon {
  margin-left: 2px;
  margin-right: 5px;
}
  
.sidebar-title {
  font-size: 14px;
  text-decoration: none;
}
  
/* *********************** */
/* **** TOGGLE SIDEBAR *** */
/* ********************** */

.sidebar.open {
  width: 250px;
}
  
.sidebar.shrink {
  width: 50px;
}

.sidebar-toggle-button {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 10px;
  margin-right: -13px;
  z-index: 1;
}
  
.toggle-button {
  border-radius: 100%;
  border: none;
  outline: none;
  padding: 3px;
  cursor: pointer;
}

.toggle-button svg {
  border-radius: 100%;
  background-color: #13315C;
  fill: white;
}
  
.sidebar-user-profile {
  text-align: center;
}
  
.sidebar-user-icon {
  font-size: 100px;
}
  
.sidebar-user-profile h5 {
  font-size: 1.25em;
  padding: 10px 10px 2px 5px;
}
  
.sidebar-user-profile h6 {
  font-size: 0.85em;
  color: lightslategray;
  padding: 0 10px 2px 5px;
}
  
@media (max-width: 767px) {
  .sidebar-user-icon {
    font-size: 50px;
  }
}
  
@media (min-width: 768px) {
  .sidebar.shrink {
    width: 50px !important;
  }
}