.pageTitle {
    margin-left: 20px;
    margin-top: 10px;
}

/* Index Laporan */
.tableSection {
    margin: auto 20px;
    font-size: 14px;
}

.tableSection th {
    font-size: 1em;
    font-weight: 700;
}

.tableBil {
    width: 5%;
    text-align: center;
}

.tableTindakan {
    width: 15%;
    text-align: center;
}

.indexLaporanBtn {
    width: 100%;
}

.batalBtn {
    border-color: #858181;
    background-color: #858181;
}

/* Breadcrumb */
.previousLink a {
    color: #13315C;
    text-decoration: underline;
}

.active {
    font-weight: 700;
}

/* Page content */
.hasilCarian {
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    margin-bottom: 20px;
}
.hasilCarian p {
    margin: 5px 5px;
}

/* Jenis Pembiayaan section */
.carianPembiayaanSahabat {
    margin: 30px 15px;
    padding: 15px;
    background-color: var(--white);
}

.hasilCarianPembiayaan {
    margin: 30px 15px;
    padding: 15px;
    background-color: var(--white);
  }

  .viewBtn {
    font-size: 0.75em;
    font-weight: 700;
    border-color: #FFAE42;
    background-color: #FFAE42;
    margin-bottom: 10px;
  }

  .cariPembiayaanBtn {
    width: 100%;
  }

  @media(max-width: 767px) {
    .cariPembiayaanBtn {
        margin-top: 10px;
      }
  }

/* Table section */
.searchResultContainer {
    background-color: var(--white);
    padding: 20px;
}

.laporanTable {
    border: 1px solid #000; /* provide border to the tables */
}

.tableSection {
    margin: auto 20px;
    font-size: 14px;

}

.tableSection th {
    font-size: 1em;
    font-weight: 700;
}

.tableBhgC {
    margin: auto 12px;
}

.tableBil {
    width: 5%;
}

.sectionHeader {
    border: 1px solid #000;
    border-radius: 5px;
    background-color: #fff;
    margin: 30px auto 10px auto;
}

.sectionHeader h1 {
    font-size: 16px;
    font-weight: 900;
    text-align: center;
    margin: 5px auto;
    
}

.buttonContainer {
    display: flex;
    align-items: center; 
    gap: 10px;
    justify-content: flex-end;
    margin-right: 20px;
    margin-bottom:-10px;
}

/* Search section */
.searchBarSection {
    width: 1000px;
    margin: 0 auto;
}

.searchHeader {
    margin-left: 20px;
}

.searchHeader h2 {
    font-weight: 600;
    font: 16px;
}

.searchBar {
    margin: 20px auto;
    width: 100%;
    background-color: #fff;
    padding: 30px;
    border: 1px solid #dedede;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15);
}

.cariBtnPlacement, .kembaliBtnPlacement {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.kembaliBtnPlacement {
    margin-right: 20px;
}

.kembaliBtn {
    border-color: var(--white);
    background-color: var(--white);
    color: var(--black);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
}

.cariBtn {
    width: 120px;
}

.chartDropdown {
    float: right;
    margin-bottom: 10px;
}

.chartCanvas {
    width: 200px;
    height: 400px;
    background-color: white;
    padding: 10px;
    margin-bottom: 20px;
}

@media (max-width: 767px) {
    .searchBarSection {
        width: 90%;
        margin: 0 auto;
    }

    .cariBtn {
        width: 100%;
    }

    .chartDropdown {
        width: 100%;
    }
}

/* Result section */
.resultTitle {
    margin-left: 20px;
    margin-top: 10px;
}

.resultTitle h3 {
    font-weight: 600;
    font: 16px;
}

.downloadBtnPlacement {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 30px;
}
