body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  display: flex;
  flex-direction: row;
  grid-template-columns: auto 1fr;
}

.content {
  background-color: #F1F3F4;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

